USE [master]
GO
/****** Object:  Database [MichalSurmackiLab04Zad01]    Script Date: 03/12/2018 22:53:50 ******/
CREATE DATABASE [MichalSurmackiLab04Zad01]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MichalSurmackiLab04Zad01', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MICHALSQL\MSSQL\DATA\MichalSurmackiLab04Zad01.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MichalSurmackiLab04Zad01_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MICHALSQL\MSSQL\DATA\MichalSurmackiLab04Zad01_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MichalSurmackiLab04Zad01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MichalSurmackiLab04Zad01]
GO
/****** Object:  Table [dbo].[ProductsForSale]    Script Date: 03/12/2018 22:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsForSale](
	[IDProduct] [int] IDENTITY(1,1) NOT NULL,
	[Price] [int] NULL,
	[Category] [nvarchar](255) NULL,
	[Product] [nvarchar](255) NULL,
	[InStock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoldProducts]    Script Date: 03/12/2018 22:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoldProducts](
	[IDTransaction] [int] IDENTITY(1,1) NOT NULL,
	[DateOfTransaction] [date] NULL,
	[Price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTransaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
