@model MichalSurmackiLab06.ViewModels.Carr
@{
    ViewBag.Title = "GetCarByModel";
}

<html>
<head>
    <title>Get car by model</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="@Url.Content("~/Scripts/Style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <br />
    <div>
        <!--Model samochodu-->
        <h2>Model: @Model.model</h2>
        <!--Producent-->
        <h4>Marka: @Model.manufacturer</h4>
        <!--Cena-->
        <h4>Cena: @Model.price</h4>
        <!--Zdjęcie samochodu-->
        <img src=@Model.photo alt=@Model.model>
    </div>
</body>
</html>

