
@{
    ViewBag.Title = "InterestingLinks";
}

<h2>Ciekawe linki</h2>
<!--Wyświetlenie linku do Google-->
<ul>
    <li><a href="https://www.google.com/search?q=subscribe+to+pewdiepie&num=50&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiJhdva1qffAhVCCywKHb1uAfcQ_AUIDigB&biw=1536&bih=674#imgrc=axsPzXaAOo0p2M:" target="_blank">Google</a></li>
    <li><a href="http://pwr.edu.pl/" target="_blank">Stack Overflow</a></li>
    <li><a href="https://www.youtube.com/" target="_blank">Youtube</a></li>
    <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
</ul>
