
@{
    ViewBag.Title = "AuthorForm";
}

<h2>Author</h2>
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-sm-6 bg-info p-5">
            <img class="avatar img-fluid" src="https://vignette.wikia.nocookie.net/pokemony/images/7/77/Pikachu.png/revision/latest?cb=20150824121343&path-prefix=pl"
                 alt="avatar">
        </div>
        <div class="col-sm-6 bg-success p-5">
            <div class="row">
                <div class="col">
                    <header class="p-3">
                        <h1>Elo jestem Michał</h1>
                        Jestem studentem Pwr W-4, zdęcie dla atencji :).
                    </header>
                </div>
            </div>
        </div>
    </div>
</div>