
@{
    ViewBag.Title = "FavouriteForums";
}

<h2>Best Forums</h2>
<!--Wyświetlenie hiperłączy do dorych serwisów o tematyce filmowej-->
<ul>
    <li><a href="https://www.filmweb.pl/" target="_blank">FILMWEB</a></li>
    <li><a href="https://film.org.pl/" target="_blank">Stack film.org</a></li>
    <li><a href="http://forum.filmozercy.com/" target="_blank">Filmożercy</a></li>
</ul>
